# Field data confidential
/InputFiles/FieldData/
# Weight CSV too large for github
/InputFiles/MoranWeights/
/OutputFiles/
/RScripts/.Rhistory
/Models/Experiments/benchmarks/
/Models/Experiments/snapshots/
/.settings
