# Field data confidential
/InputFiles/FieldData/
# Weight CSV too large for github
/InputFiles/MoranWeights/
/OutputFiles/
/Utilities/.Rhistory
/Utilities/.RData
/Models/Experiments/benchmarks/
/Models/Experiments/snapshots/
/.settings
.Rproj.user
